body {
    text-decoration: none;
    background-image: url("../images/mlab/prism.png");
	background-repeat: repeat;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding:10px;
}

img {        
    display:block;
    margin-left: auto;
    margin-right: auto;    
    margin-top:10vh;
    width:50vh;
}

p {
    font-size: 3vh;
}